*{
    padding:0;
    margin:0;
}
header{
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    background-color: lightblue;
}

.container{
    width: 50vmin;
    position: absolute;
    overflow: hidden;
    border-radius: 20px;
    border: 10px solid black;
    transform: translate(150%);
    top:13%;
}
.images{
    width: 100%;
    border: 2px solid black;
    display: flex;
    animation:slide 16s infinite;
}
img{
    width: 100%;
}
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}