header{
    height: 7rem;
    line-height: 7rem;
    background-color: lightslategray;
    font-size: 3rem;
    text-align: center;
}
.container{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
    font-size: 1.5rem;
}
body{
    background-color: lightgray;
}
input{
    padding:20px;
    font-size:1.5rem ;
    font-weight: bold;
    border-radius: 20px;
}
.container div label{
    margin-right: 30px;
    text-align: end;
    font-size: 2rem;
}
.btn{
    width: 27%;
}
button{
    background-color: lightslategray;
    padding: 20px;
    font-size: 1.5rem;
    border-radius: 10px;
    width:100%;
    cursor: pointer;
}